@charset "UTF-8";
/* CSS Document */


body {
	width: 100%;
	overflow: hidden;
	 font-family: 'Source Sans Pro', sans-serif;
	 font-size:1.4em;
	      webkit-text-stroke: 0.6px; 
     -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

video#bgvid {
  position: absolute; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(elements/background.jpg) no-repeat;
  background-size: cover;
 filter: blur(4px); /* Someday, sigh ... */ 
	-webkit-filter: blur(4px); /* Prefixed CSS3 blur filters */
	-moz-filter: blur(4px); 
	-o-filter: blur(4px); 
	-ms-filter: blur(4px); 
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4'); 
}


	
a {
	color:#fff;
	text-decoration: none;
	-webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -o-transition: 0.3s;
     -ms-transition: 0.3s;
     transition: 0.3s;
}

a:hover {
text-shadow: -4px 4px 8px #D6D6D6
}

#sidebar {  
  width: 240px;
  color:#fff;  
  float: left;  
 margin-left:25px;
 margin-top:15px;
  padding: 0; 
}  

	
 li{
	 margin:40px 0px 40px 50px;
 }
 
 img {
	 margin-top:40px;
	margin-left:50px;
		padding-bottom:5px;
		width:200px;
 }




#keikoku {
	color:#000;
}


